[package]
name = "x402-4mica-lib"
version = "0.1.0"
edition.workspace = true
description = "Rust integration for x402 Payment Protocol with 4mica credit flow."
license = "CC-BY-NC-4.0"
repository = "https://github.com/4mica-Network/x402-4mica/packages/rust/x402"
homepage = "https://4mica.xyz"
readme = "README.md"
keywords = ["4mica", "payments", "blockchain", "x402", "ethereum"]
categories = ["x402", "cryptography::cryptocurrencies"]

[dependencies]
alloy-primitives = "1.5.4"
alloy-signer = "1.6.1"
anyhow = "1.0.101"
async-trait = "0.1.89"
parking_lot = "0.12.5"
sdk-4mica = { path = "../../../../4mica-core/sdk" }
serde = "1.0.228"
serde_json = "1.0.149"
x402-types = "1.1.0"


[dev-dependencies]
