[package]
name = "x402-4mica"
version = "0.1.0"
edition.workspace = true
description = "Rust integration for x402 Payment Protocol with 4mica credit flow."
license = "CC-BY-NC-4.0"
repository = "https://github.com/4mica-Network/x402-4mica/packages/rust/x402"
homepage = "https://4mica.xyz"
readme = "README.md"
keywords = ["4mica", "payments", "blockchain", "x402", "ethereum"]
categories = ["x402", "cryptography::cryptocurrencies"]

[features]
default = []
server = [
    "dep:axum",
    "dep:axum-core",
    "dep:tower",
    "dep:x402-axum",
    "dep:envconfig",
    "x402-chain-eip155/server",
]

[dependencies]
anyhow.workspace = true
async-trait.workspace = true
reqwest = { workspace = true, features = ["json"] }
rpc-4mica.workspace = true
serde.workspace = true
serde_json.workspace = true

sdk-4mica = { path = "../../../../4mica-core/sdk" }
alloy-primitives = "1.5.4"
alloy-signer = "1.6.1"
http = "1.4.0"
log = "0.4.29"
url = "2.5.8"
x402-reqwest = "1.1.0"
x402-types = "1.1.0"
parking_lot = "0.12.5"
x402-chain-eip155 = "1.1.0"

axum = { workspace = true, optional = true }
axum-core = { version = "0.5.6", optional = true }
tower = { workspace = true, optional = true }
x402-axum = { version = "1.1.0", optional = true }
envconfig = { version = "0.11.1", optional = true }

[dev-dependencies]
tokio = { workspace = true, features = ["full"] }
dotenvy.workspace = true

env_logger = "0.11.6"
chrono = "0.4.39"
rand = "0.8.5"
alloy-signer-local = "1.6.1"

[[example]]
name = "server"
required-features = ["server"]
